<p style="color: green"><%= notice %></p>
<h1 class="text-center">Students</h1>
<%= link_to "New student", new_student_path, class: "btn btn-primary m-2" %>
<div id="students">
  <table class = 'table mx-auto table-striped table-bordered table-condensed table-responsive'>
    <% @students.each do |student| %>
      <%= render student %>
    <% end %>
  </table>
</div>
